:root {
  --yellow: #e6a22e;
}

body {
  font-family: "Zen Antique", serif;
}

.App {
  background-color: white;
  color: black;
}

.navbar {
  background-color: var(--yellow) !important;
  z-index: 1;
}

.custom-shape-divider-top-1635227694 {
  width: 100%;
  height: 20vh;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1635227694 svg {
  position: relative;
  display: block;
  width: calc(122% + 1.3px);
  height: 100px;
}

.custom-shape-divider-top-1635227694 .shape-fill {
  fill: #e6a22e;
}

.section-1 {
  background-color: var(--yellow);
  height: 60vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Alfa Slab One", cursive !important;
}

.section p {
  margin: auto;
  margin-bottom: 40px;
  width: 70%;
  max-width: 700px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center; */
}

p span {
  display: flex;
}

.logoImg {
  height: 100px;
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
  display: inherit;
}

.logoImg2 {
  width: 100px;
  margin: auto;
  margin-bottom: 10px;
  display: inherit;
}

.section__title {
  font-family: "Alfa Slab One", cursive !important;
  text-align: center;
}

.section__row {
  display: flex;
  flex-direction: row;
}

.section__column {
  margin: 10px;
  display: grid;
  text-align: center;
  width: 20%;
  font-size: 12px;
}

.section__column img {
  width: 100%;
}

.section-divider {
  height: 100%;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 40px;
  transform: none !important;
}

.image-100 {
  height: 200px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 6px;
  box-shadow: grey 6px 6px 7px 0px;
  overflow: hidden;
}

img {
  transition: transform 0.5s ease;
}

img:hover {
  transform: scale(1.2);
}

.navbar-toggler-icon {
  background-image: url("https://img.icons8.com/ios-glyphs/30/000000/beefburger.png") !important;
}

.navbar-light .navbar-toggler {
  border-color: transparent !important;
}
